
.btns
  width 100%
  .btn_container
    margin 0.26667rem auto
    height 1.2rem
    line-height 1.2rem
    text-align center
    color #b4282d
    width 90%
    background-color #fff
    border 2px solid #b4282d
    border-radius .1rem
    display flex
    justify-content center
    align-items center
    span
      font-size .4rem
    .iconfont
      font-size .6rem
